<div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>4K Television</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr class="sony">
            <td>{{bookdetail[0].title}}</td>
            <td>
              <div class="stars-outer">
                <div [style.width]="starPercentageRounded" class="stars-inner"></div>
                
              </div>
              <span class="number-rating"></span>
            </td>
          </tr>
          <tr class="samsung">
            <td>Samsung 4K TV</td>
            <td>
              <div class="stars-outer">
                <div class="stars-inner"></div>
              </div>
              <span class="number-rating"></span>
            </td>
          </tr>
          <tr class="vizio">
            <td>Vizio 4K TV</td>
            <td>
              <div class="stars-outer">
                <div class="stars-inner"></div>
              </div>
              <span class="number-rating"></span>
            </td>
          </tr>
          <tr class="panasonic">
            <td>Panasonic 4K TV</td>
            <td>
              <div class="stars-outer">
                <div class="stars-inner"></div>
              </div>
              <span class="number-rating"></span>
            </td>
          </tr>
          <tr class="phillips">
            <td>Phillips 4K TV</td>
            <td>
              <div class="stars-outer">
                <div class="stars-inner"></div>
              </div>
              <span class="number-rating"></span>
            </td>
          </tr>
        </tbody>
      </table>
      <button (click)="getRatings()">get ratings</button>
</div>

