 <app-header></app-header>
 <router-outlet></router-outlet>   
  <!-- <app-ratingtest></app-ratingtest>  -->
 <!-- <app-content></app-content>  -->
  <app-footer></app-footer>  

<!-- <app-categories></app-categories> -->
<!-- <div class="container mt-3 mb-2">
  <input type="text" [(ngModel)]="title" class="form-control w-50 d-inline" name="title" id="search">
  <button class="btn btn-primary ml-2" routerLink="productdetails/{{title}}"> submit</button>
  
</div> -->
<!-- <app-productdetails></app-productdetails> -->
<!-- <router-outlet></router-outlet> -->